<head>
  <title>Maven Pizza Challenge: Pizzas</title>
  
  <style>
    .pizza-box {
      background-color: #f5f5f5;
      padding: 20px;
      border: 1px solid #ddd;
      border-radius: 5px;
      box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    }
    
    .line {
      height: 1px;
      margin: 20px 0;
      border: none;
      background-color: #ddd;
    }
  </style>
</head>
<body>
  <h1>Maven Pizza Challenge: Pizzas</h1>

  {% for row in rows %}
    <div class="pizza-box">
      <p>Pizza:
        <b>{{row["PizzaID"]}}</b> |
        Size: {{row["Size"]}} |
        Price: {{row["Price"]}}
      </p>
    </div>
  {% endfor %}
</body>
</html>